// base

// Vendors
@import "vendors/jeet/index";
@import "vendors/animate";
@import "vendors/hover";

// Components
@import "components/colors";
@import "components/buttons";

//Layout
@import "layout/topbar";
@import "layout/content";
@import "layout/bodyContent";
@import "layout/grid";
@import "layout/appbox";
@import "layout/footer";

@import "base/mediaqueries";

body{
  margin: 0;
  padding: 0;
  background-image: url('../img/bg.png');
  height: 800px;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p{
  color: $light-grey;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 16px;
  line-height: 1.5;
}
