.app-box{
    background-image: url('../img/bg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;

    p{
      color: white;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 20px;
      margin: 70px 0 20px 0;
      text-align: center;
    }

    img{
      width: 12%;
      display: block;
      margin: 25px auto 0 auto;
    }

    .underline{
      color: white;
      font-family: 'Open Sans', sans-serif;
      font-weight: lighter;
      font-size: 12px;
      line-height: 2;
      margin: 0;
      text-align: center;
    }

}

.button{
  a{
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
  }

  .hvr-icon-wobble-vertical {
      display: block;
      transform: translateZ(0px);
      box-shadow: 0px 0px 1px transparent;
      backface-visibility: hidden;
      -moz-osx-font-smoothing: grayscale;
      position: relative;
      transition-duration: 0.3s;
      width: 10%;
      padding: 20px;
      background-color: $dark-grey;
      color: white;
      margin: 0 auto;
      vertical-align: middle;
      text-align: center;

  }

}
