#spacer{
  background-image: url('../img/border.png');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 60px;
  z-index: 10;
  position: relative;
}

#spacer-down{
  background-image: url('../img/border_down.png');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 60px;
}

.body{
  width: 100%;
  height: auto;
  background-color: white;
  z-index: 10;

  h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 35px;
    text-align: center;
    margin: 0px 0 0 0;
    padding: 50px 0 0 0;
    text-transform: uppercase;

  }

  p{
    color: $red-pink;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
  }

}
