.content-box{
  height: 550px;
  @include center(60%);

  div{
    @include column(2/5);
    height: 550px;
  }

  aside{
    @include column(3/5);
    height: 550px;
    background-image: url('../img/intro.png');
    background-repeat: no-repeat;
    z-index: -5;
  }

  img{
    margin: 150px 0 0 0;
  }

  h2{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 40px;
    margin: 0px 0 0 0;
  }

  span{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    line-height: 2;
  }



}
