.faq-box{
  @include center(50%);
  height: 700px;
  padding: 20px 0 0 0;

  h4{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
  }

  p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 14px;
    color: black !important;
    text-align: center;
  }

  a{
    text-decoration: none;
    color: $red-pink;
    font-weight: 600;

    &:hover{
      opacity: 0.5;
    }

  }


}


.faqcontent-box{
  height: 550px;
  @include center(70%);
  position: relative;

  div {
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin: 93px auto;
}

  aside{
    @include column(3/5);
    height: 350px;
    background-image: url('../img/intro.png');
    background-repeat: no-repeat;
    z-index: -5;
    padding: 30px 0 0 0;
  }

  img{
    margin: 50px 0 0 0;
    max-width: 100%;
    float: left;
  }

  h2{
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 40px;
  margin: 67px 0 0 0;
}
  span{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    line-height: 2;
  }

}
