.footer-box{
  width: 100%;
  height: 230px;
  background-color: $dark-grey;


  p{
    padding: 0;
    margin: 0 auto;
    text-align: center;
    color: white;
  }

  a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
  }


  div{
    width: 100%;
    height: 50px;
    padding: 20px 0 0 0;
    margin: 0 auto;

    p{
      padding: 0 0 10px 0;
      margin: 0 auto;
      font-size: 12px;
    }
  }

  ul{
    margin: 10px auto 0 auto;
  width: 30%;
  height: 50px;
  padding: 0;


    a{
      text-decoration: none;
      color: white;
      font-size: 16px;
      font-family: 'Open Sans', sans-serif;
    }
  }

  li{
  list-style-type: none;
  float: left;
  text-align: center;
  opacity: 0.8;
  line-height: 3;
  margin: 0 6%;
  }


  .fb{
      .hvr-icon-wobble-vertical:before {
        content: "\f09a";
        color: white;
      }
  }

  .tw{
      .hvr-icon-wobble-vertical:before {
        content: "\f099";
        color: white;
      }
  }

  .in{
      .hvr-icon-wobble-vertical:before {
        content: "\f16d";
        color: white;
      }
  }

  img{
    width: 9%;
    display: block;
    margin: 0 auto;
    padding: 30px 0 0px 0;
  }

}
