.grid{
  height: 550px;
  margin: 80px 0 0 0;
  @include center(65%);

  aside{
    @include column(2/5);
    height: 350px;

    img{
      width: 90%;
    }

  }

  div{
    @include column(3/5);
    height: 350px;
  }

  h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 22px;
    margin: 0px 0 0 0;
    padding: 80px 0 0 30px;
    text-transform: uppercase;
    width: 55%;

    .hvr-icon-wobble-vertical .custom{
      content: "\f118" !important;
      position: absolute;
      padding: 0 10px;
      font-family: FontAwesome;
      transform: translateZ(0);
      transition-duration: 0.1s;
      transition-property: transform;
      transition-timing-function: ease-out;
    }
  }

  p{
    color: $light-grey;
    font-size: 16px;
    text-align: left;
    padding: 0 0 0 30px;
  }

  .person-box{
    @include column(1/3);
    // height: 500px;
    padding: 0px 0 0 0;

    p{
      text-align: center;
    }

  }

  .circular {
  	width: 150px;
  	height: 150px;
  	border-radius: 150px;
  	-webkit-border-radius: 150px;
  	-moz-border-radius: 150px;
  	background: url(../img/otter.jpg) no-repeat;
    @include center(49%);
  }


}
