.topbar-box{
    width: 100%;
    height: 70px;
    // border-bottom: 1px solid white;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    position: fixed;
    z-index: 90;
    background-color:transparent;
    transition: all 0.35s ease;
    top:0;


    h1{
      color: white;
      font-family: 'Raleway', sans-serif;
      font-weight: 600;
      margin: 0;
      padding: 25px 0 0 300px;
      font-size: 30px;
      text-transform: uppercase;
      width: 10%;
    }

    ul{
      float: right;
      width: 40%;
      height: 70px;
      margin: 25px 20px 0 0;
    }

    li{
      float: left;
      padding: 0px 20px 0 40px;
      list-style-type: none;
    }

    a{
      text-decoration: none;
      color: white;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 20px;

    }

    .hvr-icon-wobble-vertical:before {
        content: "\f129";
    }

    .icon-help{
        .hvr-icon-wobble-vertical:before {
          content: "\f128";
        }
    }

}

.scrolled {
    background-color: $dark-grey;
}

.item {
  filter: invert(100%);
}
