



@media (max-width: 800px){
  .mobile{
    display: block;
  }
  .desktop{
    display: none;
}
    }

 @media only screen and (max-width : 500px) {

      body {
      background-repeat: repeat-y !important;

      }

      .topbar-box{


        a{
          font-size: 16px;
        }

      }

      .topbar-box ul {
        width: 63%;
      }


      .content-box{
          height: 200px;
        max-width: 100%;
        margin-left: 5%;

        div{
          height: 150px;
        }

        aside {
  padding: 0%;
  width: 130px;
  background-size: 100%;
  margin: 62px 0 0 10%;
  height: 150px;
}

        img{
          width: 60%;
            margin: 15px 0 0 0%;
        }

        h2{
          font-size: 25px;
        }

        span{
          font-size: 14px;
          line-height: 0;
        }

      }


      .body h2 {
        padding-top:10px;
      }

      #spacer{
        height: 20px;
          background-size: 268%;
      }
      #spacer-down {
        height: 35px;
      }

      .app-box{
          height: 183px;
      }
.app-box p {
margin-top:0;
}

.app-box img {
  width: 30%;
  margin-top: 8px;
}
      .body{
        width: 100%;
        height: auto;
        padding: 0px 0 0 0;
        background-color: white;
        // z-index: 10;

        h2{
          font-size: 25px;
        }

        p{
          font-size: 16px;
          line-height: 1.2;
        }

      }

      .grid{
        height: auto;
        margin:40px 0 0 0;
        max-width: 100%;
        @include center(85%);

        aside{
          @include column(1/5);
          height:50px;

          img{
            width: 100%;
          }

        }

        div{
          @include column(3/5);
          height: auto;
          width: 78%;
        }

        h3{
          font-size: 18px;
            padding: 0px 0 0 0px;
            width: 100%;
        }

        p{
          color: $light-grey;
          font-size: 16px;
          text-align: left;
          width: 100%;
          float: none;
          padding: 0 0 0 0px;
        }


      }




//about
.about-box{
  max-width: 95%;  
  margin: 0px auto;
  padding-top:40px;
  height: auto;
}
.about-box .circular {
  width: 100px;
  height: 100px;
}

.about-box p{
  padding:0;
  margin: 15px 0 40px 0;
}

.about-box .person-box {
  width: 100%;
  margin:0 auto;
}

.about-box div {
  height: auto;
}
//faq
.faq-box {
  max-width: 95%;
}

.faqcontent-box {
  height: 374px;
  max-width: 85%;
img {
  margin: 15px 0 0 0;
  float: none;
}

 h2 {
  margin: 11px 0 0 0;

}

div{
  margin-top: 0;
}

}
//footer
.footer-box {
  height: 170px;
  div{
    padding:0;
  }

  img {
  width:20%;
  display: block;
  margin: 0 auto;
  padding: 20px 0 0px 0;
}

 ul {
  margin: 10px auto 0 auto;
  width: 80%;
  height: 41px;
  padding: 0 4%;
}

 li {
  list-style-type: none;
  float: left;
  text-align: center;
  opacity: 0.8;
  line-height: 4;
  margin: 0;
}

}




}

//     @media only screen and (max-width : 1000px) {
//       .topbar-box{
//         h1{
//           padding: 25px 0 0 150px;
//           width: 0%;
//         }
//       }

//       .content-box{
//         height: 420px;
//         max-width: 80%;
//         margin-left: 15%;

//         div{
//           height: 420px;
//         }

//         aside{
//           padding: 0%;
//           width: 43%;
//           background-size: 100%;
//           margin: 45px 0 0 0;
//           height: 450px;
//         }

//       }

//       #spacer{
//         height: 40px;
//       }

//       .body{
//         width: 100%;
//         height: auto;
//         padding: 20px 0 0 0;
//         background-color: white;
//         // z-index: 10;

//         h2{
//           font-family: 'Open Sans', sans-serif;
//           font-weight: 600;
//           font-size: 35px;
//           text-align: center;
//           margin: 0px 0 0 0;
//           padding: 50px 0 0 0;
//           text-transform: uppercase;

//         }

//         p{
//           color: $red-pink;
//           font-family: 'Open Sans', sans-serif;
//           font-weight: 100;
//           font-size: 20px;
//           line-height: 1.5;
//           text-align: center;
//         }

//       }

//       .grid{
//         height: 500px;
//         margin: 80px 0 0 0;
//         @include center(65%);

//         aside{
//           @include column(2/5);
//           height: 350px;

//           img{
//             width: 100%;
//           }

//         }

//         div{
//           @include column(2/5);
//           height: 350px;
//         }

//         h3{
//           font-family: 'Open Sans', sans-serif;
//           font-weight: 600;
//           font-size: 22px;
//           margin: 0px 0 0 0;
//           padding: 80px 0 0 30px;
//           text-transform: uppercase;
//           width: 55%;
//         }

//         p{
//           color: $light-grey;
//           font-size: 16px;
//           text-align: left;
//           padding: 0 0 0 30px;
//         }


//       }

//       //About
//       .about-box{
//         height: 200px;
//         margin: 80px 0 150px 0;
//         @include center(85%);

//       }

//       //faq
// .faq-box {
//   height: auto;
// }
// .faqcontent-box{
// max-width: 82%;
// }



//     }




   @media only screen and (min-width : 500px) and (max-width : 750px) {
      .topbar-box{
        h1{
          padding: 25px 0 0 46px;
          width: 0%;
        }

        a{
          font-size: 16px;
        }

      }

      .topbar-box ul {
        width: 53%;
      }


      .content-box{
          height: 265px;
  max-width: 80%;
  margin-left: 15%;

        div{
          height: 235px;
        }

       

        img{
          width: 30%;
            margin: 80px 0 0 0;
        }

        h2{
          font-size: 30px;
        }

        span{
          font-size: 14px;
          line-height: 0;
        }

      }

      .body h2 {
        padding-top:10px;
      }
.content-box aside {
  padding: 0%;
  width: 235px;
  background-size: 100%;
  margin: 10px 0 0 2px;
  height: 176px;
}
      #spacer{
  height: 33px;
  background-size: 200%;
}
.app-box img {
  width: 30%;
  margin-top: 15px;
}
      .app-box{
          height: 275px;
      }
.app-box p {
margin-top:0;
}
      .body{
        width: 100%;
        height: auto;
        padding: 20px 0 0 0;
        background-color: white;
        // z-index: 10;

        h2{
          font-size: 25px;
        }

        p{
          font-size: 16px;
          line-height: 1.2;
        }

      }

      .grid{
        height: 400px;
        margin: 40px 0 0 0;
        @include center(85%);

        aside{
          @include column(2/5);
          height: 250px;

          img{
            width: 100%;
          }

        }

        div{
          @include column(3/5);
          height: 250px;
        }

        h3{
          font-size: 18px;
            padding: 10px 0 0 30px;
        }

        p{
          color: $light-grey;
          font-size: 16px;
          text-align: left;
          padding: 0 0 0 25px;
        }


      }



//about
.about-box{
  max-width: 90%;
}
.about-box .circular {
  width: 130px;
  height: 130px;
}

.about-box p{
  padding:0;
}
//faq
.faq-box {
  max-width: 95%;
}

.faqcontent-box {
  height: 262px;
  max-width: 85%;
}
.faqcontent-box img {
  margin: 15px 0 0 0;
  float: none;
 h2 {
  margin: 11px 0 0 0;

}

div{
  margin-top: 0;
}

}

.footer-box{
    height: 200px;
img {
  width: 10%;
  padding: 20px 0 0 0;
}
ul {
  width: 70%;
}
 ul li{
    margin: 0 3%;
}

  }  



  }  



  

    @media only screen and (min-width : 750px) and (max-width : 995px) {
      .topbar-box{
        h1{
          padding: 25px 0 0 100px;
          width: 0%;
        }

        a{
          font-size: 16px;
        }

      }

      .content-box{
        height: 294px;
        max-width: 80%;
        margin-left: 15%;

        div{
          height: 300px;
        }

        aside {
  padding: 0%;
  width: 40%;
  background-size: 100%;
  margin: 22px 0 0 0;
  height: 298px;
}

        img{
          width: 40%;
            margin: 55px 0 0 0;
        }

        h2{
          font-size: 30px;
        }

        span{
          font-size: 14px;
          line-height: 0;
        }

      }

      #spacer{
        height: 33px;
          background-size: 140%;
      }

      .app-box{
          height: 360px;
      }

      .body{
        width: 100%;
        height: auto;
        padding: 20px 0 0 0;
        background-color: white;
        // z-index: 10;

        h2{
          font-size: 25px;
        }

        p{
          font-size: 16px;
          line-height: 1.2;
        }

      }

      .grid{
        height: 400px;
        margin: 40px 0 0 0;
        @include center(85%);

        aside{
          @include column(2/5);
          height: 250px;

          img{
            width: 100%;
          }

        }

        div{
          @include column(3/5);
          height: 250px;
        }

        h3{
          font-size: 18px;
          padding: 33px 0 0 30px;
}

        p{
          color: $light-grey;
          font-size: 16px;
          text-align: left;
          padding: 0 0 0 30px;
        }


      }

      .app-box p {
        margin-top: 0;
      }
      .app-box img {
  width: 23%;
}

//faq

.faq-box {
    max-width: 70%;
  }


  //footer
.footer-box{
  height: 180px;
}
  .footer-box ul {
    width: 66%;
  }
  .footer-box div {

}

  }  



    @media only screen and (min-width : 996px) and (max-width : 1004px) {
      .topbar-box{
        h1{
          padding: 25px 0 0 150px;
          width: 0%;
        }

        a{
          font-size: 16px;
        }

      }

      .content-box{
        height: 400px;
        max-width: 80%;
        margin-left: 15%;

        div{
          height: 400px;
        }

        aside{
          padding: 0%;
          width: 42%;
          background-size: 100%;
          margin: 25px 0 0 0;
          height: 400px;
        }

        img{
          width: 25%;
        }

        h2{
          font-size: 30px;
        }

        span{
          font-size: 14px;
          line-height: 0;
        }

      }

      #spacer{
        height: 20px;
          background-size: 105%;
      }

      .body{
        width: 100%;
        height: auto;
        padding: 20px 0 0 0;
        background-color: white;
        // z-index: 10;

        h2{
          font-size: 25px;
        }

        p{
          font-size: 16px;
          line-height: 1.2;
        }

      }
    

      .grid{
        height: 600px;
        margin: 40px 0 0 0;
        @include center(85%);

        aside{
          @include column(2/5);
          height: 250px;

          img{
            width: 90%;
          }

        }

        div{
          @include column(3/5);
          height: 250px;
        }

        h3{
          font-size: 18px;
        }

        p{
          color: $light-grey;
          font-size: 16px;
          text-align: left;
          padding: 0 0 0 30px;
        }


      
}
.footer-box{
    height: 230px;
}
.footer-box ul {
  margin: 10px auto 0 auto;
   width: 40%;
  height: 50px;
}
      
 .footer-box li {

  margin: 0 3%;
}

    }

    @media only screen and (min-width : 1005px) and (max-width : 1230px) {
.topbar-box h1 {
padding-right:160px;

}
      .content-box{
        height: 405px;
        max-width: 80%;
        margin-left: 15%;

        div{
          height: 405px;
        }

         aside {
  padding: 0%;
  width: 345px;
  background-size: 100%;
  margin: 38px 0 0 0;
  height: 420px;
}

        img{
          width: 25%;
        }

        h2{
          font-size: 30px;
        }

        span{
          font-size: 14px;
          line-height: 0;
        }

      }
.footer-box ul {
  width: 35%;
}
    }

    @media only screen and (min-width : 1231px) and (max-width : 1400px) {
.topbar-box h1 {
  padding: 25px 0 0 200px;
}
      .content-box{
        height: 420px;
        max-width: 80%;
        margin-left: 15%;

        div{
          height: 420px;
        }

        aside{
          padding: 0%;
          width: 38%;
          background-size: 100%;
          margin: 20px 0 0 0;
          height: 420px;
        }

        img{
          width: 30%;
          margin-top: 100px;
        }

        h2{
          font-size: 30px;
        }

        span{
          font-size: 14px;
          line-height: 0;
        }

      }

      #spacer{
        height: 50px;
      }
.footer-box ul {
  
  width: 39%;
 
}
    }
@media only screen and (min-width : 1900px) {
.grid {
  height: 640px;
}

.app-box {
  height: 480px;
}
.app-box p {
    margin: 50px 0 20px 0;
}


#spacer-down{
  height: 116px;
}

.footer-box {
height:255px;

}
 }

